DEBUG=True
SECRET_KEY=change-this-secret-please-make-longer
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3
CORS_ALLOW_ALL=True
ALLOW_NEGATIVE_BALANCES=False
THROTTLE_ANON=50/min
THROTTLE_USER=100/min
TIME_ZONE=Africa/Addis_Ababa
ACCESS_TOKEN_MINUTES=5
REFRESH_TOKEN_DAYS=1
